<div class="page-header">
    <h1>Students</h1>
</div>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let s of students">
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>
            <span *ngIf="s.status">
                <label class="label label-success">Active</label>
            </span>
            <span *ngIf="!s.status">
                <label class="label label-danger">Inactive</label>
            </span>
        </td>
        <td><a routerLink="/student/{{s.id}}">Detail</a></td>
    </tr>
</table>